@import url("https://use.typekit.net/llc0alm.css");
@import "./colors";

:root {
   --font-stack: fieldwork, "Century Gothic", CenturyGothic, AppleGothic,
      sans-serif;
}

body {
   margin: 0;
   font-family: var(--font-stack);
}

button {
   font: inherit;
}
